#{extends 'main.html' /}
#{set title:'Home' /}
<!-- <div class="container"> -->
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<nav class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Innehåll</a></li>
					<li><a href="#" class="white_nav_index">Index</a></li>
					<li><a href="#" class="white_nav_glossary">Ordlista</a></li>
					<li><a href="#" class="white_nav_search">Sök</a></li>
				</ul>
				<div class="gold_logo pull-right"></div>
			</nav>
		</div>
	</div>	
	<aside>
		<div></div>
	</aside>
	<article>
		#{doLayout /}
	</article>
</div>